.jumbotron1{
padding-top: 7rem;
    color:#ffffff;
    background-color: #4169E1;
    height: 900px;
}
.jumbotron2{
    padding-top: 5rem;
    color:#4169E1;
    background-color: #ffffff;
    height: 900px;
}
.jumbotron3{
    padding: top 6rem; ;
    color:#ffffff;
    background-color: #4169E1;
    height: 900px;
}
